body {
  background-color: black;
}
.wheel {
  border: 5px solid aquamarine;
  border-radius: 50%;
  width: 60vw;
  height: 60vw;
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
  animation-name: wheel;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.line {
  width: 50%;
  height: 5px;
  background-color: aquamarine;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
}
.line:nth-of-type(2) {
  transform: rotate(60deg);
}
.line:nth-of-type(3) {
  transform: rotate(120deg);
}
.line:nth-of-type(4) {
  transform: rotate(180deg);
}
.line:nth-of-type(5) {
  transform: rotate(240deg);
}
.line:nth-of-type(6) {
  transform: rotate(300deg);
}
.cabin {
  width: 20%;
  height: 20%;
  background-color: white;
  position: absolute;
  top: 6%;
  left: 10%;
  transform-origin: 50% 0%;
  animation-name: cabins;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.cabin1 {
  top: 6%;
  left: 65%;
}
.cabin2 {
  top: 50%;
  left: 85%;
}
.cabin3 {
  top: 50%;
  left: -5%;
}
.cabin4 {
  top: 90%;
}
.cabin5 {
  top: 90%;
  left: 65%;
}
@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cabins {
  0% {
    transform: rotate(0deg);
    background: linear-gradient(45deg, deeppink, lime);
  }
  25% {
    background: linear-gradient(45deg, lime, aqua);
  }
  75% {
    background: linear-gradient(45deg, aqua, violet);
  }
  100% {
    transform: rotate(-360deg);
    background: linear-gradient(45deg, violet, deeppink);
  }
}
